<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "static/main/css/daimn.css">
</head>
<body>
<header>
    <h1 class="header">Лабораторная работа<br>Зарядка и разрядка конденсатора</h1>
    <nav>
        <ul>
            <li>
                <p id="SELF">СЭЛФ</p>
            </li>
        </ul>
    </nav>
</header>
    <img id="capacitor" src="voltageOnCapacitor.png">
    <img src="voltageOnResistor.png">
    <br><br>
    <h1>Введите данные в форму</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.capacity }}<br>
        {{ form.amplitude }}<br>
        {{ form.frequency }}<br>
        <span>{{ error }}</span>
        <button type="submit" class="btn btn-success">Добавить</button>
    </form>
</body>
</html>